/* Error: Invalid parent selector ":nth-of-type(2)"
 *    ,
 * 81 |         &img{
 *    |         ^^^^
 *    '
 *   css\main.scss 81:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Invalid parent selector ":nth-of-type(2)"\a    \2577 \a 81 \2502          &img{\d\a    \2502          ^^^^\a    \2575 \a   css\\main.scss 81:9  root stylesheet';
}
