:root{
    font-size: 16px;  
    margin: 0;
}
body{
    margin: 0;
}
/*---Header---*/
header{
    display:block;
    position:relative;
    width: 100%;

}
/*--- Yellow section---*/
header > article:first-of-type > section:first-of-type{
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    background-color:#FFE000;
}
/*---Logo center ---*/
header > article:first-of-type > section > img {
    display: block;
    position : relative;
    margin: auto;
    width: 7vw;
}
/*--- Title : L'UX est notre langage! + Subtitle : Assistant UX " est une application...---*/
header > article:first-of-type > section > h1, h3 {
    display: block;
    position : relative;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}
header > article:first-of-type > section > h3 {
    width: 35%;
}

header > article:first-of-type > img {
    display: block;
    position : relative;
    margin: auto;
    width: 35vw;;
}
/*---Main---*/
.interspace{
    /**/
}
/*---Article : atHand---*/
#atHand{
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
    background-color: #DEDEDE;
}
#atHand > section {
    display: block;
    position: relative;
    width: 100%;
}
#atHand > section > h2, p {
    font-size: 1.5rem;
    text-align: center;
}
#atHand > img{
    display: block;
    position: relative;
    margin: auto;
}
/*---Article : info---*/
#info{
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
}
#info > h2, p{
    text-align: center;
}
#info > button{
    display: block;
    position: relative;
    margin: auto;
}
/*---Article : CEO---*/
#CEO{
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
}
#CEO > h2 ,p{
    text-align: center;
}
#CEO > h2{
    /**/
}
#CEO > p{
    /**/
}
#CEO > img{
    display: block;
    position: relative;
    margin: auto;
}
/*---Article : socialNetwork---*/
#socialNetwork{
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
}


#socialNetwork > section{
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
}
#socialNetwork > section > a {
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0   
}

#socialNetwork > section > a > img{
    display: block;
    position: relative;
    width: 5vw ;
    margin: auto;
}


#socialNetwork section > a > p{
    text-align: center;
}
/*---Footer---*/
footer{
    /**/
}
footer > h5{
    /**/
}
footer > a{
    /**/
}






@media screen and (max-width: 440px){
    header{

    }
}